div.alert.alert-notice {
  background-color: rgb(28, 130, 86);
  color:aliceblue;
  border-radius: 0px;
}

div.alert.alert-alert {
  background-color: rgb(148, 34, 0);
  color:aliceblue;
  border-radius: 0px;
}

div.alert.alert-danger {
  background-color: rgb(148, 34, 0);
  color:aliceblue;
  border-radius: 0px;
}